.main{

    text-align: center;
    margin-top: 0;
    margin-top: 300px;
}

h3{
    border: solid blue;
    display: inline-block;
    padding: 5px 30px;
    margin: 0;
    transition-duration: 0.5s;
}
body{
    background-image: url("https://i.gifer.com/zqM.gif");
    background-repeat: no-repeat;
    background-size:cover; 
}
h3:hover{
background-color: red;
z-index: 5;
}